In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Qaanaaq,GL,2021-05-22 17:06:25,77.4840,-69.3632,28.96,67,85,1.77
1,1,Port Alfred,ZA,2021-05-22 17:06:26,-33.5906,26.8910,58.87,57,1,5.82
2,2,Mount Gambier,AU,2021-05-22 17:06:26,-37.8333,140.7667,49.96,57,77,7.45
3,3,Mataura,NZ,2021-05-22 17:06:26,-46.1927,168.8643,37.80,96,0,1.95
4,4,Port Keats,AU,2021-05-22 17:06:26,-14.2500,129.5500,73.02,67,77,2.13

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
    #temps.append(max(temp, 0))

In [8]:
#assign locations into an array(
locations = city_data_df[["Lat","Lng"]]
#assigns weights for max temp
max_temp = city_data_df["Max Temp"]
#assign fig variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
#assign heatmap layer to variable
heatmap_layer = gmaps.heatmap_layer(locations,weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300,point_radius=4)
#add layer to map
fig.add_layer(heatmap_layer)
# call the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Port Keats,AU,2021-05-22 17:06:26,-14.2500,129.5500,73.02,67,77,2.13
5,5,Faanui,PF,2021-05-22 17:06:27,-16.4833,-151.7500,80.80,73,41,14.09
7,7,Hilo,US,2021-05-22 17:05:57,19.7297,-155.0900,71.33,87,90,5.75
10,10,Mahebourg,MU,2021-05-22 17:06:28,-20.4081,57.7000,70.25,71,46,16.96
13,13,Puerto Ayora,EC,2021-05-22 17:06:28,-0.7393,-90.3518,82.36,82,88,8.99
19,19,Vaini,TO,2021-05-22 17:06:29,-21.2000,-175.2000,75.36,94,75,8.05
25,25,Sinazongwe,ZM,2021-05-22 17:06:30,-17.2614,27.4618,73.31,46,0,4.83
27,27,Kahului,US,2021-05-22 17:06:31,20.8947,-156.4700,75.22,74,40,12.66
28,28,San Patricio,US,2021-05-22 17:06:31,28.0170,-97.5169,85.01,58,100,13.51
32,32,Jhang,PK,2021-05-22 17:06:32,33.6748,72.6963,80.37,35,72,8.81

In [14]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [15]:
preferred_cities_df.count()

City_ID       210
City          210
Country       209
Date          210
Lat           210
Lng           210
Max Temp      210
Humidity      210
Cloudiness    210
Wind Speed    210
dtype: int64

In [16]:
preferred_cities_df = preferred_cities_df.dropna(how="any")

In [17]:
preferred_cities_df.count()

City_ID       209
City          209
Country       209
Date          209
Lat           209
Lng           209
Max Temp      209
Humidity      209
Cloudiness    209
Wind Speed    209
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4     Port Keats      AU     73.02 -14.2500  129.5500
5         Faanui      PF     80.80 -16.4833 -151.7500
7           Hilo      US     71.33  19.7297 -155.0900
10     Mahebourg      MU     70.25 -20.4081   57.7000
13  Puerto Ayora      EC     82.36  -0.7393  -90.3518
19         Vaini      TO     75.36 -21.2000 -175.2000
25    Sinazongwe      ZM     73.31 -17.2614   27.4618
27       Kahului      US     75.22  20.8947 -156.4700
28  San Patricio      US     85.01  28.0170  -97.5169
32         Jhang      PK     80.37  33.6748   72.6963

In [19]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {
    "key" : g_key,
    "type" : "lodging",
    "radius" : 5000
    }

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Port Keats,AU,73.02,-14.2500,129.5500,TDC Village (Hundred Man Camp)
5,Faanui,PF,80.80,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
7,Hilo,US,71.33,19.7297,-155.0900,Hilo Hawaiian Hotel
10,Mahebourg,MU,70.25,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
13,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [23]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [57]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]